DB_HOST=localhost
// can take ip, or container if in a docker network
MYSQL_DATABASE=

MYSQL_USER=
MYSQL_PASSWORD=

EXPORT_DIR=""
LOG_DESTINATION=""

LOG_LEVEL='debug'

// instead of waiting cron, this will launch the export 
// right after container start, then node cron will do his job
EXPORT_ON_LAUNCH=true
NODE_CRON_CONFIG='* * 4 * * *'
